html {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
}

*,
*:after,
*::before {
  box-sizing: inherit;
}

body {
  background-color: thistle;
}

#chat-form {
  background-color: #1d1d1d;
  bottom: 0;
  padding: 1rem;
  position: fixed;
  width: 100%;
  font-size: 0;
}

#chat-form input[type="submit"] {
  padding: 0.5rem;
  width: 10%;
  border: none;
  background-color: thistle;
  border-radius: 0.2rem;
  font-weight: bold;
}

#message-text {
  border: none;
  padding: 0.5rem;
  width: 90%;
  border-radius: 0.2rem;
}

#message-text:focus {
  outline: 0;
}

#chat li {
  list-style-type: none;
  background-color: #1d1d1d;
  color: rgb(125, 108, 125);
  border-radius: 0.3rem;
  margin: 0.5rem 0;
  padding: 0.7rem;
}

#chat li:nth-child(odd) {
  background-color: rgb(113, 95, 113);
  color: #000;
}
