<h1 class="text-center my-5">Login de usuarios</h1>
<div class="row justify-content-center">
  <div class="col-md-6">

    <form action="/auth/login" method="post">
      <input type="hidden" name="_csrf" value="{{csrfToken}}" />
      <input
        type="text"
        name="email"
        class="form-control mb-2"
        placeholder="Ingrese Email"
        value="carloscabi@test.com"
      />

      <input
        type="password"
        name="password"
        class="form-control mb-2"
        placeholder="Ingrese Contraseña"
        value="qwerty"
      />

      <button class="btn btn-primary" type="submit">Acceder al Usuario</button>
    </form>

  </div>
</div>