extends layout.jade

block content
    article.container
      div.item.center
          h1=title
          h3 
              a(href="/") Regresar
          h2=description 
          br
          pre.error.left 
              code #{error.stack}